@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: url("https://i.ibb.co/9d8xyvr/back.png");
  background-position: center center;
  color: #CC7D4E;
  font-family: 'Dancing Script', cursive;
  text-align: center;
}

.wide {
  width: 300px;
  height: 200px;
  align-items: center; /* Adjust the width as needed */
}

.paper {
  background-image: url("https://static.vecteezy.com/system/resources/previews/006/893/584/non_2x/textured-crumpled-black-paper-background-free-photo.jpg");
  background-size: 500px;
  padding: 20px 100px;
  transform: rotateZ(-5deg);
  box-shadow: 1px 15px 20px 0px rgba(0, 0, 0, 0.5);
  position: absolute;
}

.paper.heart {
  position: relative;
  width: 200px;
  height: 200px;
  padding: 0;
  border-radius: 50%;
}

.large-image {
  max-height: 250px; /* Ensure it doesn't overflow the container */
  height: auto; /* Maintain aspect ratio */
  width: 200%; /* Adjust this value to make the image larger */
}

.paper.image {
  width: fit-content;
  padding: 10px;
}

.paper.image p {
  font-size: 30px;
}

img {
  max-height: 200px;
  width: 100%;
  user-select: none;
}

.paper.heart::after {
  content: "";
  background-image: url('https://cdn.pixabay.com/photo/2016/03/31/19/25/cartoon-1294994__340.png');
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 150px;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.6;
}

p {
  font-family: "Pathway Gothic One", serif;
  font-weight: 600;
  font-size: 30px;
  font-style: normal;
  color: rgb(255, 255, 255);
  opacity: 0.75;
  user-select: none;
}

/* Loading Animation */
.loading {
  position: absolute; /* Positioning it absolutely within the body */
  top: 20px; /* Adjusted position */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  z-index: -1; /* Move it to the back */
}

.loading svg {
  width: 50%; /* Adjusted to make it smaller */
  height: auto; /* Maintain aspect ratio */
}

.loading .linear-1 {
  stroke-dasharray: 281;
  -webkit-animation: dash 6s infinite linear forwards;
}

.loading .linear-2 {
  stroke-dasharray: 300;
  -webkit-animation: dash 5s infinite linear forwards;
}

.loading .linear-3 {
  stroke-dasharray: 340;
  -webkit-animation: dash 4s infinite linear forwards;
}

.loading .linear-4 {
  stroke-dasharray: 400;
  -webkit-animation: dash 3s infinite linear forwards;
}

/* Animation */
@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 814;
  }
  to {
    stroke-dashoffset: -814;
  }
}

h1 {
  text-shadow: 2px 2px 5px #CC7D4E;
  margin: 5px 0; /* Reduced margin for both top and bottom */
  font-size: 24px; /* Adjust size if needed */
}

h3 {
  margin: 0; /* Set to 0 to remove any gap */
  font-size: 18px; /* Adjust size if needed */
}

a,
h3 {
  color: #fff;
}

a {
  text-decoration: none;
}

a:hover {
  color: #CC7D4E;
}
@media (max-width: 768px) { 
  .desktop-only { 
      display: none;
       /* Hide on mobile */ 
  } 
}
